.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C21885;
    padding: 10px;
    height: 20px; 
  }
  
  .navbar__items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
  }

  .navbar__item {
    color: white;
    font-size: 15px;
    margin: 0;
    flex: 1;
    text-align: center;
    text-decoration: none;
  }

  .navbar__item a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  
  .top {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF6F0;
  }

  .top img {
    height: 50px;
    width: 200px;
}